body {
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/MOTTA_LA_CASTELLA_E_CAMPANILE_DEL_DUOMO_by_comune.jpg");
}

.first-part {
    background: none;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: #e1dccd;
}

.second-part {
    background-color: #3c3125;
    color: #e1dccd;    
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    font-size: 20px;
}

.third-part {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #e1dccd;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

#main-title {
    margin-top: 200px;
    font-size: 100px;
    margin-bottom: 60px;
    text-shadow: 5px 5px 5px #3c3125;
}

.main-sub {
    font-size: 50px;
    margin-top: 50px;
    color: #e1dccd;
    text-shadow: 5px 5px 5px #3c3125;
    background-size:contain;
    margin-left: 24%;
    margin-right: 24%;
}

.best-places {
    margin: 60px;
    text-align: center;
    text-shadow: 0px 5px 5px black;
}

#La-madonna {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #e1dccd;
    background-size: cover;
    background-image: url("img/16_Madonna-dei-Miracoli-Motta-di-Livenza.jpg");
}

#walk-on-city {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    background-image: url("img/passeggiata-motta-di-livenza.jpg");
    background-size: cover;
    box-shadow: 0px 0px 50px #e1dccd;
}

#walk-on-wine {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    background-size: cover;
    background-image: url("img/motta\ modificata.jpg");
    box-shadow: 0px 0px 50px #e1dccd;
}

#sindaco {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url("img/sindaco.jpg");
    border-radius: 50%;
    box-shadow: 0px 0px 50px #3c3125;
}